<div class="page-header">
  <h1>
    KK400 Ølloge&trade;! 
    <small>
      Grafer, tabeller og statistik 
      <i class="icon-beer"></i>
      <i class="icon-heart"></i>
    </small>
  </h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Navn</th>
      <th>Værelse</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>Ohm</td>
      <td>x410</td>
    </tr>
    <tr>
      <td>Rasmus</td>
      <td>404</td>
    </tr>
  </tbody>
</table>
