<div class="page-header">
  <h1>
    KK400 Ølloge&trade;! 
    <small>
      Grafer, tabeller og statistik 
      <i class="icon-beer"></i>
      <i class="glyphicon glyphicon-heart"></i>
    </small>
  </h1>
</div>
