<div id="footer">
  <div class="container">
    <p class="text-muted credit">
      <small>
        Tryllet af <%= link_to "Mads Ohm Larsen", "http://github.com/omegahm" -%>
        <i class="icon-magic"></i>
      </small>
    </p>
  </div>
</div>
