<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">KK400 Ølloge&trade;</a>
    <div class="nav-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to 'Hjem', root_path -%>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <%= link_to 'Log ind', '#' -%>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
